вот мой план курса, пот которому я преподаю:
Java. 

1 
Введение. история, платформа, переменные, типизация, примитивные типы, массивы, циклы, условные конструкции, классы. Операторы. Методы. Перегрузка методов. Мульти-параметр. модификатор доступа. 
ООП. Конструкторы, this, super. Наследование. Абстрактные классы, интерфейсы. 
вложенные и внутренние классы. 
2 
Строки. StringBuilder, StringBuffer. регулярки. 
Reflections. Аннотации. 
Generics. 
Исключения. enum. 
3 
JUnit, Logging. 
Ant, maven. 
Collections. 
java 8 
4 
java.io, nio2 
Введение в Swing 
Swing MVC, DataModel. 
срериализация 
5 
Многопоточность базовая. 
Многопоточность управляемая. 
xml 
JDBC 
6 
Hibernate - основы
Hibernate - DAO
Servlet 
JSP 
7 
JSP + Servlet 
Spring IoC 
Sprint MVC - основы
Spring MVC - БД
